<div class="container my-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Form edit Contact</h2>

            <% if (typeof errors !== 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach(error => { %>
                            <li><%= error.msg %></li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>

            <form method="post" action="/contact/update">
                <input type="hidden" name="currentEmail" value="<%= contact.currentEmail || contact.email %>">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" name="name" value="<%= contact.name %>" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="email" name="email" value="<%= contact.email %>" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="txt" id="phone" name="phone" value="<%= contact.phone %>" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Edit Contact</button>
            </form>
        </div>
    </div>
</div>